LOG_LEVEL=trace
PORT=3001
DISABLE_REQUEST_LOGGING=true
BOOTSCAN=false
MEDIA_BASEDIR=
SESSION_SECRET=
SESSION_TIMEOUTSECS=1000
BEARER_TOKEN=
MB_USER_AGENT=

PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=